*.pyc
*.swp
*.csv
*.xls
*.sqlite3
*.tar.gz
*.tgz
*.dat
*.txt
hdf5*
imagedownloader/aspects.py
netcdf*
Python*
aspects.py
bin
ez_setup.py
include
lib
python-aspects*
setuptools*
sqlite-autoconf*
.coveralls.yml
.coverage
